{
    "presets": [ "env" ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-export-default",
        "export-default-module-exports"
    ]
}